.create-page{
    margin:60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.d-hidden{
    visibility: hidden;
}
.d-visible{
    visibility: visible
}