.text-style{
margin-bottom: 5px;
font-size: 20px;
font-weight: bold;
text-align: center;
}
.single-entry-form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    padding: 10px;
  }
.grid-containers {
    margin-top: 15px;
    display: grid;
    /* grid-template-columns: repeat(10, minmax(0, 1fr)); */
    padding: 10px;
  }
 
  .grid-item {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 10px;
    font-size: 20px;
    text-align: center;
  } 
  /* .list-container{
    display:flex;
    justify-content: center;
    align-items: center;
  } */
.field-title{
    margin-top: 5px;
}
.dispaly-visibility{
  visibility:hidden;
}
.display-show{
  visibility: visible;
}
.textField_label{
  color: black !important;
  font-weight: bold !important;
}
.textField_LabelSize{
  font-size: 10px;
}
.textField_LabelSizeNormal{
  font-size: 16px;
}
.zoomLabel:hover{
  transform: scale(1.5);
}

/* .zoom-in-out-box {
  animation: zoom-in-zoom-out 1s linear infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
} */