.headerColor{
  background:  #FFF;
  color:#FBFFB1;
}
.hearderTextColor{
    /* color:#878A99 */
    color:#5A6691;
}
.changeColorBlue{
    background-color: blue;
}
.colorWhite{
    color: white;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-orange{
    height: 30px;
    width: 30px;
    /* background-color: #2385BA; */
    background: linear-gradient(to bottom, #58355F,#FC6294,#58355F);
    border-radius: 50%;
    border: none;
}
.btn-plus{
    background: linear-gradient(to bottom, #58355F,#FC6294,#58355F);
    width:30px;
    height:30px;
     border-radius:50px;
    border: none;
}
.btn-lightgray{
    height: 25px;
    width: 25px;
    background-color: lightgray;
    border-radius: 50%;
    border: none;
}