.headerColor{
  background:  #FFD966;
  color:white;
}
.hearderTextColor{
    color:white
}
.changeColorBlue{
    background-color: blue;
}
.colorWhite{
    color: white;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-orange{
    height: 30px;
    width: 30px;
    background-color: #FFC300;
    border-radius: 50%;
    border: none;
}
.btn-blue{
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
    border: none;
}
.btn-lightgray{
    height: 25px;
    width: 25px;
    background-color: lightgray;
    border-radius: 50%;
    border: none;
}