.box{
    width:80px;
    height:40px;
    padding: 5px;
    border:1px solid lightgray;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.box-position{
    padding-right: 10px;
    display: flex;
    justify-content: end;
}